*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

header, main{
  background-color:black;
}

header{
  height: 40px;
}

main{
  height: calc(100vh - 120px);
  overflow: auto;
}

footer{
  height: 80px;
  background-color: #222222;
}

img{
  width: 100%;
}

/* UTILITIES */
.debug{
  border: 1px solid white;
}

.d-flex{
  display: flex;
}

.f-wrap{
  flex-wrap: wrap;
}

.p-relative{
  position: relative;
}

.active{
  filter: grayscale(100%) brightness(60%) sepia(300%) hue-rotate(50deg) saturate(500%);
}

.p-left{
  padding-left: 10px;
}

/* HEADER */
header .view{
  justify-content: end;
  align-items: center;
  height: 100%;
  margin-right: 10px;
}

header .view button{
  background-color: #4a4a4a;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

header .view span{
  margin-right: 8px;
}

header .view i{
  line-height: 16px;
}

header .view button:first-child::before {
  font-family: Fontawesome;
  content: '\f58d';
}

/* MAIN */
main .main-wrap{
  justify-content: center;
  padding: 40px 70px;
  gap: 8px;
}

main .card{
  margin-bottom: 5px;
  width: calc(100% / 7 - 8px);
  min-width: 200px;
}

main .inner-card span{
  position: absolute;
  bottom: 4px;
  left: 0;
  background-color: rgba(61, 61, 61, 0.76);
  padding: 5px;
  font-size: 0.9rem;
}

main .main-wrap span::before{
  font-family: Fontawesome;
  content: '\f131';
}

/* FOOTER */
footer{
  justify-content: space-between;
  align-items: center;
}

footer button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

footer p{
  font-size:0.9rem;
}

footer .cel{
  margin-right: 20px;
}

footer .cel i:first-child{
  font-size: 1.8rem;
  margin-bottom: 5px;
  width:100%;
  text-align:center;
}

footer .cel i:last-child{
  position: absolute;
  top: 50%;
  left: calc(100% + 20px);
  transform: translate(-50%, -50%);
  font-size: 0.7rem;
}

footer .chevron{
  margin-right: 40px;
}

footer .end #meeting{
color: red;
background-color: #4a4a4a;
padding: 32px 20px;
border: none;
}

footer .end #meeting:hover{
  background-color: #797979;
  cursor: pointer;
}